/* initial css */

*
{
    margin:0px;
    padding: 0px;

}


body
{
    background-color: #FFFFFF;
}


/* **********LOGO********* */



#logo::first-letter{
    font-size: 45px !important;
    font-weight: bold;
}
#logo
{
    margin-left: 5px !important;
}

#icon_prefix
{
   color: wheat !important;
   font-style: oblique;
}



/* ********NAVBAR********* */

nav
{
    background: linear-gradient(90deg,#1a0c39,#5a2a4d);
}

#mobile-demo
{
    background: linear-gradient(90deg,#1a0c39,#5a2a4d);
}

#mobile-demo li a
{
    color: white;
}

#mobile-demo li:hover
{
    background-color: rgb(93, 5, 145);
}

.active
{
    background-color: rgb(255, 255, 255) !important;
   
}
.active a
{
    color:purple !important;
}